{% extends 'base.html' %}
{% load static %}


{% block content%}

<body>
 <style>.grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }</style>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    {% include "wrapper.html" %}
  
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->

    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'commerce:index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
   
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
                    <div class="shop__sidebar">
                         <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>Shop by price</h4>
                            </div>
                            <!-- <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="0" data-max="3000"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Price:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            <a href="#">Filter</a> -->
                        </div> 

                        <div class="sidebar__color">
                            <div class="section-title">
                                <h4>Shop by Color</h4>
                            </div>
                            <!-- <div class="size__list color__list">
                                <label for="black">
                                    Blacks
                                    <input type="checkbox" id="black">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="whites">
                                    Whites
                                    <input type="checkbox" id="whites">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="reds">
                                    Reds
                                    <input type="checkbox" id="reds">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="greys">
                                    Greys
                                    <input type="checkbox" id="greys">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="blues">
                                    Blues
                                    <input type="checkbox" id="blues">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="beige">
                                    Beige Tones
                                    <input type="checkbox" id="beige">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="greens">
                                    Greens
                                    <input type="checkbox" id="greens">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="yellows">
                                    Yellows
                                    <input type="checkbox" id="yellows">
                                    <span class="checkmark"></span>
                                </label>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                    <div class="row" data-masonry='{"percentPosition": true }'>
                      
                        {% for items in object_list %}
                        
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 " >
                            <a href="{{ items.get_absolute_url }}">
                            <div class="product__item" >
                               
                                <div class="product__item__pic set-bg" data-setbg="{{items.image.url}}" style="border-radius: 20px; height: 280px; width: 180;">
                           
                                    <div class="label new">New</div>
                                    <ul class="product__hover">
                                        <li><a href="{% static 'img/shop/shop-1.jpg' %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                           
                                <div class="product__item__text">
                                    <h6><b><a href="#">{{items.title}}</a></b></h6>
                                    <div class="product__price"> Ksh
                                        {%if items.discount_price %}
                                        {{items.discount_price}}
                                        {%else%}
                                        {{items.price}}
                                        {%endif%}
                                    </div>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                               
                                </div>
                                </a>
                            </div>
                            
                        </div>
                        {%endfor%}
                        {% if is_paginated %}
                        <div class="col-lg-12 text-center">
                          
                            <div class="pagination__option">
                                {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
    
                                {%endif%}
                                <a class="page-item active" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                        
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                {%endif%}
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
       
    </section>
 
    <!-- Shop Section End -->

    <!-- Instagram Begin -->
    {% include 'gallery.html'%}
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
  
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <!-- <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div> -->
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>

<!-- <script>var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    percentPosition: true,
    columnWidth: '.grid-sizer'
  });
  
  // layout Masonry after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry();
  });  </script> -->


</body>

{%endblock%}