{% load static %} {% load cart_template_tags %} 

<link
  href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <div class="header__logo">
          <a href="{%url 'commerce:index' %}"
            ><img src="{% static 'img/logo.png' %}"
          /></a>
        </div>
      </div>
      <div class="col-md-8 col-xl-8 col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="{% url 'commerce:index'%}">Home</a></li>
            <li><a href="{% url 'commerce:string-arts' %}">String Arts</a></li>
            <li>
              <a href="{% url 'commerce:crotchets' %}">Crotchets</a>
              <ul class="dropdown">
                <li><a href="#">Crotchet Products</a></li>
                <li><a href="#">Crotchet Bags</a></li>
              </ul>
            </li>
            <li><a href="{% url 'commerce:yarnaccessories'%}"> Yarn & Accessories</a></li>
            <li><a href="{% url 'commerce:shop' %}">Shop</a></li>
            <li><span class="icon_search search-switch"></span></li>
           


         
          </ul>
        </nav>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="header__right">
          <div class="header__right__auth">
                     
                    </div>
          <ul class="header__right__widget">
            {% if request.user.is_authenticated %}
            <li><a href="#">{{request.user}}</a></li>
    
            <li><a href="{% url 'commerce:logout'%}">Logout</a></li>

            {% else %}
            <li><a href="{% url 'commerce:loginpage'%}">Login</a></li>
            <li><a href="{% url 'commerce:signuppage'%}">Register</a></li>
            {% endif %}

            <li>
              <a href="{% url 'commerce:shop-cart'%}"
                ><span class="icon_bag_alt"></span>
                <div class="tip"></div>
              </a>
            </li>
            <li>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img src="{% static 'adminDash/assets/img/avatars/myself.jpeg'%}" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">John Doe</span>
                        <small class="text-muted">Admin</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-cog me-2"></i>
                    <span class="align-middle">Settings</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <span class="d-flex align-items-center align-middle">
                      <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                      <span class="flex-grow-1 align-middle">Billing</span>
                      <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                    </span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="auth-login-basic.html">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
            


          </ul>
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
  
</header>






</nav>





    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'adminDash/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'adminDash/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'adminDash/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'adminDash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'adminDash/assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'adminDash/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'adminDash/assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'adminDash/assets/js/dashboards-analytics.js' %}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>