{% extends 'base.html' %}
{% load static %}

<style>
  #checkoutImage{
	background-color: rgb(50, 255, 9);
}
</style>
{% block content%}

<body  class=" set-bg" data-setbg="{% static 'img/3600752-removebg-preview.png'%}" style="  
background-size: contain, cover;

background-repeat: no-repeat;
background-attachment: fixed;
background-position: left bottom ; " >
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    {% include "wrapper.html" %}

    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{%url 'commerce:index'%}"><i class="fa fa-home"></i> Home</a>
                        <span>Payment</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad "  >
        <div class="container " >
            <div class="row "  >
           
                        <section class="gradient-custom " style="opacity: 0.8;" >
                            <div class="container my-1 py-1 "  >
                              <div class="row d-flex justify-content-center py-1">
                                <div class="col-md-5 col-lg-5 col-xl-4">
                                  <div class="card" style="border-radius: 15px; ">
                                    <div class="card-body p-4">
                                      <form action="#" method="post">
                                        {% csrf_token %}
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                          
                                            <img src="{% static 'img/Lipa-na-mpesa.png'%}" alt="mpesa" width="74px" />
                                            <label class="form-label" for="typeText" type="text" id="phonenumber"  value="{{order.get_order_total}}"
                                            placeholder="07" minlength="19" maxlength="19" >{{paymentForm.phonenumber}}</label>
                                            
                                          </div>
                                         
                                        </div>
                          
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                          <div class="form-outline">
                                            <div class="d-flex justify-content-between align-items-center">
                                              <div class="col-md-2">
                                            <label class="form-label" for="typeName">Amount: </label>
                                          </div>
                                          <div class="col-md-10">
                                            <input type="text" id="typeName" class="form-control form-control-lg" size="17" 
                                              placeholder="" disabled="False" value="{{order.get_order_total}}"/>
                                            </div>
                                            </div>
                                          </div>
                                        </div>
                          
                                        <button type="submit" class="site-btn" style="background-color: green;">Pay</button>
                                      </form>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                    </div>
                </form>
            </div>
            </div>
        </section>
        <!-- Checkout Section End -->


        <!-- Instagram End -->

        <!-- Footer Section Begin -->
    
        <!-- Footer Section End -->

        <!-- Search Begin -->
        <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search End -->

        <!-- Js Plugins -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/main.js"></script>
    </body>

  

{%endblock%}

