{% load static %}
{% load cart_template_tags %}
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
        </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
            <div class="tip">3</div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="{% url 'commerce:index'%}"><img src="{% static 'img/logo.png' %}" alt="logo should be"></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        {% if request.user.is_authenticated %}
        <li><a href="#">{{request.user}}</a></li>

        <li><a href="{% url 'commerce:logout'%}">Logout</a></li>

        {% else %}
        <li><a href="{% url 'commerce:loginpage'%}">Login</a></li>
        <li><a href="{% url 'commerce:signuppage'%}">Register</a></li>
        {% endif %}
    </div>
</div>